@media (hover: hover) and (pointer: fine) {
    * {
        cursor: none !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        cursor: text !important;
    }
}

@media (hover: none) and (pointer: coarse) {
    * {
        cursor: auto !important;
    }
}